{{!-- Eventually, this is supposed to display the comments within the modal, but no luck so far --}}
<h5>Comments</h5>
{{#each comment}}
<p id="aComment" class="grey-text text-darken-3 lighten-3 data-content">{{text}}</p>
{{/each}}