<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Scraper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="/saved"><i class="material-icons left">save</i>Saved Articles</a></li>
      <li>
        <a class="waves-effect waves-light btn"><i class="material-icons left">local_library</i>Scrape New Articles</a>
      </li>
      <li>
        <a class="waves-effect waves-light btn"><i class="material-icons left">refresh</i>Clear Articles</a>
      </li>
    </ul>
  </div>
</nav>
<div class="parallax-container">
  <div class="parallax"><img src="images/anna-church-VM3u6iDvWDg-unsplash.jpg"></div>
  <br>
  <div class="container">
        {{#each story}}
    <div class="section white">
      <div class="row container">
        <h2 class="header" id="title">{{title}}</h2>
        <p id="content" class="grey-text text-darken-3 lighten-3">{{content}}</p>
        <a id = "link" href={{link}}>Read More</a>
        <a class="waves-effect waves-light btn saveThis"><i class="material-icons left">save</i>Save Article</a>
      </div>
    </div>
    <br>
      {{/each}}
    <div class="section white">
      <div class="row container">
        <h2 class="header">Parallax2</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      </div>
    </div>
    <br>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Parallax3</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      </div>
    </div>
  </div>
</div>