<nav>
  <div class="nav-wrapper">
    <div id="siteName"><a href="#" class="brand-logo"> Irish Music Magazine Scraper</a></div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="material-icons left">save</i>Saved Articles</a></li>
      <li>
        <a class="waves-effect waves-light btn"><i class="material-icons left">refresh</i>Clear Articles</a>
      </li>
    </ul>
  </div>
</nav>
<div class="parallax-container">
  <div class="parallax"><img src="images/anna-church-VM3u6iDvWDg-unsplash.jpg"></div>
  <br>
  <div class="container">
    <div id="savedArticles">
      {{#each saved}}
      <div class="section white">
        <div class="row container">
          <h2 class="header data-title" id="title">{{title}}</h2>
          <p id="content" class="grey-text text-darken-3 lighten-3 data-content">{{content}}</p>
          <a class="data-link" id="link" href={{link}}>Read More</a>
          <a data-target="modal1" class="waves-effect waves-light btn commentHere modal-trigger"><i
              class="material-icons left viewComments">mode_edit</i>Comments</a>
        </div>
      </div>
      <br>
      {{/each}}
    </div>
  </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h5>Add a Comment {{title}}</h5>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Comment</label>
            <button class="btn waves-effect waves-light saveComment" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div id="theComments">
       {{>commentary}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>